<div ng-controller="mainController">
	<div class="row">
		<div class="filter">
			Filter By Seller :
			<select ng-change="getSelectedSeller(selectedSeller)" ng-options="option for option in sellerOptions"
			  ng-model="selectedSeller"></select>			
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="chart-wrapper">
				<d3-area></d3-area>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="chart-wrapper">
				<d3-line></d3-line>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="chart-wrapper bar-chart-wrapper">
				<d3-transpose-bar></d3-transpose-bar>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="chart-wrapper bar-chart-wrapper">
				<d3-stacked-bar></d3-stacked-bar>
			</div>
		</div>		
	</div>		
</div>