<div class="container-fluid background">
  <h2>NVD3</h2>
  <p>Re-usable charts for d3.js.</p>
    
  <div> This project is an attempt to build re-usable charts and chart components for d3.js without taking away the power
    that d3.js gives you. This is a very young collection of components, with the goal of keeping these components
    very customizeable, staying away from your standard cookie cutter solutions.
  </div>
    
  <h2>About NVD3</h2>
  <div> NVD3 is currently maintained by a team of frontend software engineers at Novus Partners. Our charting technology
    is used to provide powerful analytics to our clients in the financial industry. NVD3’s codebase is heavily
    inspired by the work of Mike Bostock. In particular, his article “Towards Reusable Charts” serves as our guide.
  </div>
    
  <h2>About POC</h2>
  <div>
    <ul>
      <li>A re-usable multiSelect custom dropdown directive to select which hotels data to be displayed.</li>
      <li>A custom graph directive where we bind different chart-types and based on the chart type passed from the
        dropdown different types graphs are drawn.</li>
      <li></li>
      <li>A pie chart directive to display pie chart on click of legends of the graph directive with the concept of
        function binding of custom directive.</li>
      <li>Random data updation for last month data using interval service.</li>
      <li>Customization of tooltip with our own data.</li>
    </ul>      
  </div>
    
  <div style='margin-top:15px'> <button type="button" class="btn btn-primary"><a href="#/getGraphData">Get Started</a></button> </div>
</div>